{
  "presets": [
    [
      "env",
      { "targets": { "node": 4.3 }, "modules": false, "loose": true }
    ]
  ],
  "plugins": [
    "syntax-flow",
    "transform-flow-strip-types",
    [
      "transform-class-properties",
      { "loose": true }
    ],
    [
      "transform-async-to-module-method",
      { "module": "creed", "method": "coroutine" }
    ],
    [ "./src" ]
  ]
}
